/* Login */

.login {
    min-height: 100vh;
}

.bg-input {
    background-color: #f3f3f3;
}

.login-heading {
    font-weight: 300;
}

.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
}


/* Sidebar */

.border-top-orange {
    border-top: coral 7px solid;
}

.border-top-blue {
    border-top: lightsteelblue 7px solid;
}

.border-top-red {
    border-top: indianred 7px solid;
}

.border-top-yellow {
    border-top: #FDDD5C 7px solid;
}


.table-output-excel {
    border-collapse: collapse;
    width: 100%;
  }
  
.table-output-excel td {
    padding: 15px;
    text-align: center;
    height: 50px;
    vertical-align: middle;
  }